__pycache__

/data
**/dataset
**/annotated_data

annotation.log
training.log
count.txt
config_postcity.py

results.csv
yolo**.pt
groundingdino**.**
**/runs/detect
**/runs/train/*.jpg
last.pt
epoch**.pt
vscode.deb